<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/layout :: head('Classifica & Calendario')}"></head>

<body>
    <nav th:replace="~{fragments/layout :: navbar}"></nav>

    <div class="container">
        <h1>Classifica & Calendario</h1>
        <div id="react-root"></div>
    </div>

    <footer>⚔ Runeterra Football League</footer>

    <!-- React via CDN -->
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel" src="/js/app.jsx"></script>
</body>

</html>